<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   videoHeaderInfo.plist
   HotRedHeadlines

   Created by 邹壮壮 on 2016/12/8.
   Copyright (c) 2016年 邹壮壮. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>Root</key>
        <array>
            <dict>
                <key>category</key>
                <string>推荐</string>
                <key>icon</key>
                <string></string>
                <key>description</key>
                <string></string>
                <key>id</key>
                <string>推荐</string>
            </dict>
            <dict>
                <key>category</key>
                <string>娱乐</string>
                <key>icon</key>
                <string></string>
                <key>description</key>
                <string></string>
                <key>id</key>
                <string>娱乐</string>
            </dict>
            <dict>
                <key>category</key>
                <string>社会</string>
                <key>icon</key>
                <string></string>
                <key>description</key>
                <string></string>
                <key>id</key>
                <string>社会</string>
            </dict>
            <dict>
                <key>category</key>
                <string>搞笑</string>
                <key>icon</key>
                <string></string>
                <key>description</key>
                <string></string>
                <key>id</key>
                <string>搞笑</string>
            </dict>
<!--            <dict>-->
<!--                <key>category </key>-->
<!--                <string>社会</string>-->
<!--                <key>icon</key>-->
<!--                <string></string>-->
<!--                <key>description</key>-->
<!--                <string></string>-->
<!--                <key>id</key>-->
<!--                <string>社会</string>-->
<!--            </dict>-->
<!--            <dict>-->
<!--                <key>category </key>-->
<!--                <string>体育</string>-->
<!--                <key>icon</key>-->
<!--                <string></string>-->
<!--                <key>description</key>-->
<!--                <string></string>-->
<!--                <key>id</key>-->
<!--                <string>体育</string>-->
<!--            </dict>-->
<!--            <dict>-->
<!--                <key>category </key>-->
<!--                <string>热点</string>-->
<!--                <key>icon</key>-->
<!--                <string></string>-->
<!--                <key>description</key>-->
<!--                <string></string>-->
<!--                <key>id</key>-->
<!--                <string>热点</string>-->
<!--            </dict>-->
        </array>
    </dict>
</plist>
